* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

.text-gray {
  color: #B4BCC6;
}
.text-white {
  color: #FFF;
}
.text-blue-gray {
  color: #8F9BAC;
}
.text-blue {
  color: #8324FF;
}

.text-xsm {
  font-size: 12px;
}
.text-sm {
  font-size: 14px;
}
.text-md {
  font-size: 16px;
}
.text-lg {
  font-size: 24px;
}

.is-active {
  background-color: #9748ff;
  color: #FFF;
}